@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

.navBar {
    background-color: #4e4e4e;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    overflow: hidden;
    padding: 10px 50px;
}

.navBrand {
    display: block;
    margin: auto 0;
    font-size: 1.75rem;
    font-weight: 700;  
}

.navBrand a {
    text-decoration: none;
    font-family: 'Reem Kufi', sans-serif;
    margin-right: 20px;

    background:
        conic-gradient(from -135deg, #000 0 90deg, #fff 0),
        conic-gradient(from -135deg, #fff 0 90deg, #0000 0);
    -webkit-background-clip: text,padding-box;
    background-clip: text,padding-box;
    background-size: 200% 100%;
    background-position: right;
    color: transparent;
    transition: 0.5s;
}

.navBrand a:hover {  
    background-position: center;
}

.navList {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
}

.navList a {
    text-decoration: none;
    text-align: center;
    padding: 0;
    margin: auto 20px;

    --s: 0.2em;   /* the thickness of the line */
    --c: #ffffff; /* the color */
    
    color: #0000;
    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,var(--c) 50%,rgb(255, 255, 255) 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 0.5s;
}

.navList a:hover,
.navList a.active {
    --_p: 100%
}

.navLang {
    display: inline-block;
    margin-left: auto;
}

.navLang button {
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    border: none;
    margin: auto 20px;
    padding: 0;

    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.navLang button:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

@media (max-width: 820px) {
    .navBrand {
        font-size: 2.5rem;
    }

    .navBrand a {
        height: auto;
    }

    .navList {
        font-size: 2rem;
    }

}